In [2]:
import pandas as pd

crimeCountData = pd.read_csv(f"./crimeIndex/대한민국_경찰청_전국 범죄 발생 및 검거 현황_20211231.csv", encoding = "cp949")

crimeCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 473 entries, 0 to 472
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   범죄대분류    473 non-null    object
 1   범죄중분류    473 non-null    object
 2   범죄소분류    473 non-null    object
 3   발생       473 non-null    int64
 4   검거       473 non-null    int64
 5   검거인원(남)  473 non-null    int64
 6   검거인원(여)  473 non-null    int64
 7   불상       473 non-null    int64
 8   법인체      473 non-null    int64
dtypes: int64(6), object(3)
memory usage: 33.4+ KB

In [3]:
selected_columns = ["범죄소분류","발생"]

revisedCrimeCount = crimeCountData[selected_columns]

revisedCrimeCount.head()

     범죄소분류   발생
0       살인  204
1     영아살해    5
2     존속살해   26
3  촉탁·승낙살인    2
4  자살교사·방조   25

In [5]:
revisedCrimeCount_index = revisedCrimeCount.set_index("범죄소분류")

revisedCrimeCount_index.head()

          발생
범죄소분류
살인       204
영아살해       5
존속살해      26
촉탁·승낙살인    2
자살교사·방조   25

In [6]:
noNull_Crime_Index = revisedCrimeCount_index.fillna("0")
noNull_Crime_Index.head()

          발생
범죄소분류
살인       204
영아살해       5
존속살해      26
촉탁·승낙살인    2
자살교사·방조   25

In [17]:
noNull_Crime_Index["Count"] = pd.to_numeric(noNull_Crime_Index["발생"])
noNull_Crime_Index.head()

          발생  Count
범죄소분류
살인       204    204
영아살해       5      5
존속살해      26     26
촉탁·승낙살인    2      2
자살교사·방조   25     25

In [18]:
str(noNull_Crime_Index["Count"].dtype)

'int64'

In [19]:
noNull_Crime_Index.index

Index(['살인', '영아살해', '존속살해', '촉탁·승낙살인', '자살교사·방조', '위계·위력·촉탁·승낙살인',
       '특가법(보복살인등)', '아동학대처벌법(아동학대살해)', '살인', '영아살해',
       ...
       '폭력행위등처벌에관한법률위반(기타)', '하수도법', '하천법', '학원의설립·운영및과외교섭에관한법률', '항만운송사업법',
       '허위감정,증거인멸·은닉,증인은닉죄', '형사소송법', '형의실효등에관한법률', '화물자동차운수사업법', '기타'],
      dtype='object', name='범죄소분류', length=473)

In [20]:
theft_crime = noNull_Crime_Index.loc[
[
"강도",
"준강도",
"특수강도",
"준특수강도",
"강도상해·치상",
"강도살인·치사",
"해상강도(살인·치사·상해·치상)",
"인질강도",
"강도강간",
"(특수·인질·해상)강도(상습)",
"특가법(강도)",
"특가법(강도상해재범)",
]
]
theft_crime.head()

          발생  Count
범죄소분류
강도        86     86
준강도       61     61
특수강도     169    169
준특수강도      2      2
강도상해·치상  149    149

In [21]:
murder_crime = noNull_Crime_Index.loc[
[
"살인",
"영아살해",
"존속살해",
"촉탁·승낙살인",
"자살교사·방조",
"위계·위력·촉탁·승낙살인",
"특가법(보복살인등)",
"아동학대처벌법(아동학대살해)"
]
]
murder_crime.head()

        발생  Count
범죄소분류
살인     204    204
살인     343    343
영아살해     5      5
영아살해     3      3
존속살해    26     26

In [22]:
assault_crime = noNull_Crime_Index.loc[
[
"폭행",
"폭행(상습)",
"폭행치상",
"폭행치사",
"특수폭행",
"특수폭행(상습)",
"특수폭행치상",
"특수폭행치사",
"존속폭행",
"존속폭행(특수)",
"존속폭행(상습)",
"존속폭행치상",
"존속폭행치사",
"특가법(운전자폭행등)",
"특가법(보복폭행등)",
"특가법(보복범죄등)",
"아동학대처벌법위반(상습폭행)",
"폭력행위등처벌에관한법률위반(상습)",
"폭력행위등처벌에관한법률위반(공동)",
"폭력행위등처벌에관한법률위반(집단,흉기등)",
"폭력행위등처벌에관한법률위반(상습집단,흉기등)",
"폭력행위등처벌에관한법률위반(야간·공동)",
"폭력행위등처벌에관한법률위반(야간집단흉기등)",
"폭력행위등처벌에관한법률위반(단체등의구성·활동)",
"폭력행위등처벌에관한법률위반(단체등의[상습·공동·상습특수])",
"폭력행위등처벌에관한법률위반(단체등의이용·지원)",
"폭력행위등처벌에관한법률위반(우범자)"
]
]
assault_crime.head()

            발생   Count
범죄소분류
폭행      100137  100137
폭행(상습)      89      89
폭행치상      1457    1457
폭행치사        35      35
특수폭행      7542    7542

In [23]:
rape_crime = noNull_Crime_Index.loc[
[
"강간",
"강간(상습)",
"준강간",
"준강간(상습)",
"강간상해·치상",
"강간살인·치사",
"미성년자간음(심신미약자)",
"업무상위력에의한간음",
"친족관계에의한강간",
"장애인에대한강간·간음",
"청소년에대한강간·간음",
"미성년자의제강간",
"13세미만미성년자강간·간음",
"특수강간(준)",
"주거침입강간",
"절도강간",
"특수강도강간",
"아동학대처벌법위반(상습강간·간음)",
"16세미만아동·청소년간음"
]
]
rape_crime.head()

           발생  Count
범죄소분류
강간       2166   2166
강간(상습)      0      0
준강간      1048   1048
준강간(상습)     0      0
강간상해·치상   283    283

In [24]:
final_data = {"Count" :[murder_crime["Count"].sum(),rape_crime["Count"].sum(),theft_crime["Count"].sum(),assault_crime["Count"].sum()]}
             
final_data

{'Count': [658, 5263, 495, 122426]}

In [25]:
final_df = pd.DataFrame(final_data,index=["살인","강간","절도","폭행"])
final_df

     Count
살인     658
강간    5263
절도     495
폭행  122426

In [27]:
PoliceCountData = pd.read_csv(f"./crimeIndex/대한민국 10만명당 경찰인원 수 .CSV", encoding = "cp949")

PoliceCountData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4 non-null      object
 1   2013        5 non-null      object
 2   2014        2 non-null      object
 3   2015        2 non-null      object
 4   2016        2 non-null      object
 5   2017        2 non-null      object
 6   2018        2 non-null      object
 7   2019        2 non-null      object
 8   2020        2 non-null      object
 9   2021        2 non-null      object
 10  2022        2 non-null      object
dtypes: object(11)
memory usage: 572.0+ bytes

In [33]:
selected_columns = ["2022"]

revisedPoliceData = PoliceCountData[selected_columns]

revisedPoliceData.head()

      2022
0  131,004
1      254
2      NaN
3      NaN
4      NaN

In [ ]:
onlyCountPolice